VITE_GEMINI_API_KEY=AIzaSyA7pEfyy5oh6JZ5-yegbjbQNnu0wi_3_J4,AIzaSyCHdtL524JolJnRBb-ggzUXmIdRR1OxJY0,AIzaSyATb89Ij7A4JNNQDDHShphiMzNn--vVE5E,AIzaSyCsBbC7JV9KE-4zgM7mxNwjlQkQ66EYszU,AIzaSyBHjt_PQpb56sIUSNFuZWWzYfMa1dlW2og
